.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  overflow: hidden;
}

.nav-link{
  font-weight: 500;
}
.nav-link:hover {
  background: transparent;
  color: #db5752;
}
.nav-link:active {
  background: transparent;
  color: #9ac9fb;
}
.nav-link:focus {
  outline: none;
}
